.input {
    width: 27.3rem !important;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid var(--greenlight);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 0 22px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        background-color: var(--inputActive) !important;
    }
    &:-webkit-autofill:focus-within {
        background-color: var(--inputActive)  !important;
    }
    & input[data-autocompleted]{
        background-color: var(--inputActive) !important;
    }

    img {
        width: 18px;
        height: 23px;
    }

    &:focus-within {
        background-color: var(--inputActive);
        outline: none;
    }

    input {
        width: 100%;
        height: inherit;
        border: none;
        background-color: transparent;

        &:-webkit-autofill,
        &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
        }
        &[data-autocompleted] {
        background-color: var(--inputActive) !important;
    }


        & ::placeholder {
            color: var(--gray);
            font-size: 1.2rem;
        }

        &:focus {
            background-color: var(--inputActive);
            outline: none;
        }

    }

}

.green{
    background-color: var(--inputActive) !important;
}


@media only screen and (max-width:768px) {
    .input {
        width: 300px !important;
        height: 48px !important;
        border-radius: 0px 10px 10px !important;
        margin-bottom: 0;
    }

}