

button{
    width: 9.6rem;
    height: 3.3rem;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color: var(--white);

    &:hover{
        cursor: pointer;
    }
}

.button2{
    width: 28.8rem;
    height: 4rem;
    background-color: var(--fadedGreen);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor:default;
    }

}
.enabled{
    background-color: var(--green);
    color: var(--white);
      &:hover{
        cursor:pointer;
    }

}

@media screen and (max-width:760px) {
    button{
        width: 7rem;
        height:2rem;
    }
    .button2{
        width: inherit !important;
        height: 48px !important;
    }
  
  }