.main_container{
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  .yellow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    height: 100%;
  }

  .blue {
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: -5;
    height: 70%;
  }

  main {
    height: 80vh;
    padding: 0 10%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // flex-wrap: wrap;
    .cooking {
      background-color: var(--green);
      width: 10.5rem;
      height: 2.18rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 32px;
      border-radius: 20px;

      p {
        color: var(--white);
      }
    }

    .info {

      h2 {
        font-weight: 700;
        font-size: 3rem;
      }

      p {
        max-width: 35.5rem;
        line-height: 1.5;
      }
    }

    .inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }


  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 10%;
    p{
      font-size: 16px;
    }

    .footer_socials {
      display: flex;
      gap: 24px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fadedGreen);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }

}

@media only screen and (max-width:768px) {
  .container{
    .blue{
      top:0rem;
      right: 0;
      width: 100%;
    }
    .yellow{
      width: 100%;
    }
  }


  main {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center !important;
    margin-top: 200px;

    .landingImage {
      margin-left: -2em;
      width: 264px;
      height: 232px;
    }
    .deets{
      width: 100%;
      .cooking{
        width: 126px;
        height: 26px;
      }
      .info{
        width: 100%;
       
        h2{
          
          font-size: 32px; 
          line-height: 2; 
        }
        p{
          font-size: 12px;
          line-height: 2;
        }

       
      }
    }
   
  }

  .footer{
    left: 0;
    bottom: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p{
      align-self: center;
      
    }
    .footer_socials{
      align-self: center;
      margin: 12px 0px ;
      padding: 20px 0px;
    
    }
    .footer p{
      margin-bottom: 8px;
    }
  }
  
}
