.parent_container {
  position: relative;

  .blue {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 1202px;
    top: 194px;
    background: rgba(0, 92, 221, 0.7);
    filter: blur(200px);
    z-index: -2;
  }

  .yellow {
    position: absolute;
    width: 231px;
    height: 231px;
    left: -70px;
    top: 124px;
    background: rgba(252, 228, 89, 0.7);
    filter: blur(200px);
    z-index: -2;
  }

  main {

    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
  
    p{
      font-size: 1rem;
      max-width: 35.5rem;
      line-height: 1.5;
    }
    h2 {
      font-weight: 700;
      font-size: 3rem;
    }
    form{
        margin-top: 1.5rem;
        .inputs{
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
        }
    }
    .cooking {
      background-color: var(--green);
      width: 10.5rem;
      height: 2.18rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 32px;
      border-radius: 20px;
      p {
        font-size: 1rem;
        color: var(--white);
      }
    }
    
  }

  footer {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 10%;
    p{
      font-size: 1rem;
    }

    .footer_socials {
      display: flex;
      gap: 24px;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fadedGreen);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width:768px){
  .parent_container{
    .blue{
      height: 50vh;
      width: 50%;
      top: 0;
      left: 8rem;
      opacity: 0.8;
    }
    // .yellow{
    //   display: none;
    // }
    main{
      flex-direction: column-reverse;
      gap: 34px;
      height: fit-content;
      h2{
        font-size: 1.7rem;
        font-weight: 800;
        margin: 20px 0;
    
      }
      p{
        font-size: 12px;
      }
      .cooking{
        width: 126px;
        height: 26px;
        padding: 6px 24px;
        p{
            font-size: 10.5px;
        }
      }

      
    }
    .image_container{
      img{
        width: 264.5px;
        height: 232.72px;
      }
    }

    footer{
      flex-direction: column-reverse;
      margin-top: 85px;
      gap: 43px;
      p{
        font-size: 12px;
      }
    }
    
  }
}

@media only screen and (max-width: 992px ) {
  .parent_container{
    width: max-content;
    .blue{
      display: none;
    }
    .image_container{
      img{
        width: 354.5px;
        height: 322.72px;
      }
    }
  }
  
}
@media  (min-width:768px ) and (max-width: 800px) {
  .parent_container{
    width: max-content;
    .blue{
      display: none;
    }
    .image_container{
      img{
        width: 354.5px;
        height: 322.72px;
      }
    }
  }
  
}