.main_container{
  position: relative;

  .yellow{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10;
    height: 100vh;
  }
  .blue{
    top: 0;
    right: 0;
    position: fixed;
    z-index: -10;
    height: 100vh;
  }
}

.container {
  position: relative;
  height: fit-content;
  width: 100%;
  // .lights{
 
  //   // position: fixed;
  //   // z-index: -10;
  //   // display: flex;
  //   // max-width: 1200px !important;
  //   // align-items: center;
  //   // justify-content: stretch;
  //   // width: inherit; 
  //   // margin: 0 auto;
  // }

  main {
    height: 80vh;
    padding: 0 10%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .landingImage{
      margin-left: 6%;
      height: 90%;
      width: 80%;
    }
    // flex-wrap: wrap;
    .cooking {
      background-color: var(--green);
      width: 10.5rem;
      height: 2.18rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 32px;
      border-radius: 20px;

      p {
        color: var(--white);
      }
    }

    .info {

      h2 {
        font-weight: 700;
        font-size: 3rem;
      }

      p {
        max-width: 35.5rem;
        line-height: 1.5;
      }
    }

    .inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }


  }

  .footer {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 10%;
    p{
      font-size: 16px;
    }

    .footer_socials {
      display: flex;
      gap: 24px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fadedGreen);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }

}

@media only screen and (max-width:768px) {
  .main_container{
    display: flex;
    flex-direction: column;
    width:auto;
    margin: 0 auto;
  }
  .blue{
    display: none;
  }
  .yellow{
    display: none;
  }

  .container{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-direction: column;
    align-self: center;
    width: 400px !important;
    padding-top: 50%;
    margin: 0 auto ;
    
  }


  main {
    align-self: center;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center !important;
    // height: 500px;
    margin: 0 auto;
    align-self: center;

    .landingImage {
      width: 80% !important;
      height: 90% !important;
      object-fit: contain;
    }
    .deets{
      width: 100%;
      .cooking{
        width: 126px;
        height: 26px;
      }
      .info{
        width: 100%;
       
        h2{
          
          font-size: 32px; 
          line-height: 2; 
        }
        p{
          font-size: 12px;
          line-height: 2;
        }

       
      }
    }
   
  }

  .footer{
    left: 0;
    bottom: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    text-align: center;
    margin-left: 15%;
    p{
      align-self: center;
      margin-bottom: 8px;
    }
    .footer_socials{
      align-self: center;
      margin: 12px 0px;
      padding: 20px 0px;
    }  
  }
}

@media screen and (width:375px) {
  container{
    padding-top: 40%;
  }
}

// @media only screen and (max-width:667px) {
//   .container{
//     margin-top: 100px !important;
//   }
//   main{
//     margin-top: 200px;
//     .landingImage{
//       margin-left: 0 !important;
//     }
//   }
// }
// @media only screen and (max-width:900px) {
//   .container{
//     margin-top: -150px;
//   }
//   main{
    
//     .landingImage{
//       margin-left: 0 !important;
//     }
//   }
// }
// @media only screen and (min-width:800px) and (max-width:1000px){
//   // main{
//   //   margin-top:600px;
//   // }
// }
// @media (min-width: 1025px) and (max-width: 1440px) {
 
//   main{
//     // padding: 0 40%;
//     .landingImage{
//       width: 264px;
//       height: 232px;
//     }
//   };
// }

// @media (min-width: 1441px) {
//   /* Your 4K and wider screen styles go here */
// }


// //large laptop
// @media screen and  (min-width: 1025px) and (max-width: 1440px) {
//   nav{
//       div {
//           margin: 0 auto;
//       }
//   }
// }
// //normal
// @media screen and  (min-width: 768px) and (max-width: 1025px) {
//   nav{
//       div {
//           padding: 0 10%;
//       }
//   }
// }
// //mobile
// @media screen and (max-width:768px) {
//   nav{
//       width: 100%;
//       div{
//           width:100%;
//           padding: 0 10%;
//       }
//   }
// }